.list {
  padding: none;
  list-style: none;
  width: 20vw;
}

.list-item {
  padding: 2vh;
  border: 2px solid black;
  display: block;
  width: 100%;
  font-size: 1vw;
  font-weight: 600;
}

.list-item:nth-of-type(n+2) {
  border-top: none;
}

.active {
  background-color: blue;
  color: white;
  font-weight: 1000;
}