.App {
  display: flex;
  width: 50vw;
  justify-content: space-between;
  font-size: 1vw;
}

.list {
  padding: none;
  list-style: none;
  width: 20vw;
}

.list-item {
  padding: 2vh;
  border: 2px solid black;
  display: block;
  width: 100%;
  font-weight: 600;
}

.list-item:nth-of-type(n+2) {
  border-top: none;
}

.active {
  background-color: blue;
  color: white;
  font-weight: 1000;
}

.detail-box {
  display: flex;
  flex-direction: column;
  width: 20vw;
}

.detail-box * {
  display: block;
  width: 100%;
  border: 2px solid salmon;
  margin: 0;
  box-sizing: border-box;
}

.detail-box *:not(img) {
  padding: 2vh;
  border-top: none;
  font-weight: 500;
}
